body {
    margin: 0;
    font-family: 'Montserrat' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-style: italic;
    
  }
  @font-face {
    font-family: "Montserrat";
    src: url('../../../public/assets/fonts/static/Montserrat-Italic.ttf') format('truetype');

    font-style: italic;
    font-weight: normal;

  }

  @font-face {
    font-family: "Montserrat";
    src:
    url("../../../public/assets/fonts/static/Montserrat-Medium.ttf")  format('truetype');
    
    font-weight: medium;
    font-style: normal;

  }

  @font-face {
    font-family: "Montserrat";
    src:
    url('../../../public/assets/fonts/static/Montserrat-Bold.ttf') format('truetype');
    
    font-style: normal;
    font-weight: bold;

  }

  @font-face {
    font-family: "Montserrat";
    src:
    url('../../../public/assets/fonts/static/Montserrat-Regular.ttf') format('truetype');
    
    font-style:normal;
    font-weight: normal;

  }

  *{
    font-family: 'Montserrat' !important;
  }
  
  code {
    font-family: 'Montserrat', sans-serif;
  }

  .mr-auto{
    margin-right: auto !important;
  }

  .ml-auto{
    margin-left: auto !important;
  }

  .swal2-title{
    font-size: 18px !important;
  }

  .swal2-styled.swal2-confirm{
    background-color: #28306A !important;
  }

  .large-modal {
    width: 80%;
    max-width: 800px;
    height: 80%;
    max-height: 600px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .modal-header{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-title{
    font-size: 16px !important;
    font-weight: 700 !important;
  }

  .custom-backdrop{
    display: none;
  }

  .map-container{
    height: 300px;
    width: 100%;
  }

  .modal__map{
    width: 800px !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }

  @media (min-width: 576px)
  {
    .modal-dialog {
      max-width: 800px !important;
      // margin: 0 auto;
      // margin-top: 0;
      margin-bottom: 0;
  }
  }
  