body {
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: italic;
    
  }
  *{
    font-family: 'Montserrat', sans-serif !important;
  }
  
  code {
    font-family: 'Montserrat', sans-serif;
  }

  .mr-auto{
    margin-right: auto !important;
  }

  .ml-auto{
    margin-left: auto !important;
  }