body {
    margin: 0;
    font-family: 'Montserrat' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-style: italic;
    
  }
  @font-face {
    font-family: "Montserrat";
    src: url('../../../public/assets/fonts/static/Montserrat-Italic.ttf') format('truetype');

    font-style: italic;
    font-weight: normal;

  }

  @font-face {
    font-family: "Montserrat";
    src:
    url("../../../public/assets/fonts/static/Montserrat-Medium.ttf")  format('truetype');
    
    font-weight: medium;
    font-style: normal;

  }

  @font-face {
    font-family: "Montserrat";
    src:
    url('../../../public/assets/fonts/static/Montserrat-Bold.ttf') format('truetype');
    
    font-style: normal;
    font-weight: bold;

  }

  @font-face {
    font-family: "Montserrat";
    src:
    url('../../../public/assets/fonts/static/Montserrat-Regular.ttf') format('truetype');
    
    font-style:normal;
    font-weight: normal;

  }

  *{
    font-family: 'Montserrat' !important;
  }
  
  code {
    font-family: 'Montserrat', sans-serif;
  }

  .mr-auto{
    margin-right: auto !important;
  }

  .ml-auto{
    margin-left: auto !important;
  }

  .swal2-title{
    font-size: 18px !important;
  }

  .swal2-styled.swal2-confirm{
    background-color: #28306A !important;
  }