$primary-color: #184A7F;
$main-color: #174688;
$money-color: #FB0E0E;
$heading-color: #28306A;
$border-radius-small: 20px;
$border-radius-large: 25px;

#button-addon2 {
  border-color: $primary-color;
  border-radius: 0 $border-radius-small $border-radius-small 0;
  height: 100%;
}

.btn {
  background-color: $primary-color;
  color: #fff;
}

.book-now-btn {
  border-radius: $border-radius-large;
}

.bg-cover {
  border-radius: $border-radius-small;
}

.img-fluid {
  border-radius: $border-radius-large;
}

.let-be-friend-input {
  border-radius: $border-radius-small;
}

