.background-footer {
    background-color: #07192E;
    //background-color: #28306A;
}

.title {
    color: #fff;
}
.container__footer{
    max-width: 1140px;
}
.text-lg-right{
    text-align: right !important;
}