.infor_input_select{
    border: none;
}

.modal_edit__ctn{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;

    button{
        margin: 0;
        margin-top: 10px;
    }

    .delete-room-btn{
        background-color: red;
        color: white;
        width: 130px;
        margin-right: 10px;
    }

    .update-room-btn{
        width: 200px;
        margin-left: 10px;
    }

    .add-room-btn{
        width: 200px;
        margin-right: 10px;
    }

    .back-room-btn{
        background-color: gray;
        color: white;
        width: 130px;
        margin-left: 10px;
    }
}