.product_container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F6F1F1;
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;

    .product_container-part1{
        display: flex;
        flex: 3;
        width: 100%;
        align-items: center;
        justify-content: center;
    
        .product_image{
            flex: 1;
            display: block;
            width: 50%;
            height: 50%;
    
            .productImg{
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
    
        }
    
        .product_discription{
            flex: 3;
            display: block;
            margin-left: 18px;
            h2{
                color: black;
                font-size: 20px;
                margin: 0;
                font-weight: bold;
                text-transform: uppercase;
                padding-bottom: 10px;
            }
    
            .product__money{
                font-size: 20px;
                color:#ffcd1d;
                font-weight: 600;
                margin-bottom: 10px;
            }
    
            .product__detail{
                color: black;
            }
    
        }
    }
    
    .product_container-part2{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;

        .part2_upper{
            display: flex;
            align-items: center;
            justify-content: center;

            .product-distance{
                font-weight: 700;
                color: white;
                display: flex;
                font-size: 18px;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                background-color: #72bb8f;
                width: 70px;
                height: 30px;
                text-shadow: 1px 1px 1px black;
                margin-right: 15px;
            }

            .product-status{
                font-weight: 700;
                color: white;
                display: flex;
                font-size: 15px;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                background-color: green;
                width: 70px;
                height: 30px;
            }
        }

        .part2_bottom{
            display: flex;
            align-items: center;
            justify-content: center;

            .part2-btn{
                outline: 0;
                border: 0;
                padding: 6px 0px;
                color: #28306A;
                width: 180px;
                font-family: inherit;
                margin-right: 5px;
                transition: all 0.3s ease;
                font-weight: 600;
                border-radius: 5px;
                cursor: pointer;
                background-color: #ffcd1d !important;
                border: 2px solid #ffcd1d !important;
            }

            .part2-btn:hover{
                background-color: #28306A !important;
                color: white;
                border-color: #28306A !important;
            }
        }
    }
}

