.sidebar{
    width: 270px;
    height: 100vh;
    background-color: #28306A;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;

    .text-logo{
        font-size: 20px;
        margin-bottom: 30px;
    }

    .sidebar__logo{
        margin-top: 30px;
        margin-bottom: 15px;
        display: block;
        width: 140px;
        height: 130px;
        border-radius: 50%;
        background-color: white;
        background-image: url('../../Components/Sidebar/Img/logo-roomus.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
    }

    .sidebar__list{
        list-style: none;
        padding-left: 0;

        .sidebar__item{
            font-size: 20px;
            font-weight: 450;
            padding: 8px 0;
            margin: 12px 0;
        }

        .sidebar__item-link{
            font-size: 0.95rem;
            text-decoration: none;
            color: white;
            font-weight: 800;

            &:hover{
                color: rgb(255, 205, 29);
            }
        }

        .sidebar__item--actived .sidebar__item-link{
            color: rgb(255, 205, 29);
        }
        
        .sidebar__item-icon{
            margin-right: 10px;
        }
    }

    .sidebar__logout{
        margin-top: auto;
        margin-bottom: 30px;
    }
    
    .sidebar__logout:hover{
        cursor: pointer;
    }

    .sidebar__logout-link{
        font-size: 20px;
        font-weight: 800;
        text-decoration: none;
        color: white;

        &:hover{
            color: rgb(255, 205, 29);
        }
    }

    .sidebar__item-icon-logout{
        margin-right: 5px;
    }
}