.favorite_container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F6F1F1;
    padding: 10px 10px;
    padding-right: 25px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;

    .product_container-part1{
        display: flex;
        flex: 3;
        width: 100%;
        align-items: center;
        justify-content: center;
    
        .product_image{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 50%;
    
            .productImg{
                width: 85%;
                height: 100%;
                border-radius: 5px;
            }
    
        }
    
        .product_discription{
            flex: 3;
            display: block;
            margin-left: 18px;
            h2{
                color: black;
                font-size: 17px;
                margin: 0;
                font-weight: bold;
                text-transform: uppercase;
                padding-bottom: 10px;
            }
    
            .product__money{
                font-size: 18px;
                color:#ffcd1d;
                font-weight: 600;
                margin-bottom: 10px;
            }
    
            .product__detail{
                color: black;
            }
    
        }
    }
    
    .product_container-part2{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;

        .part2_upper{
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: end;

            .product-distance{
                font-weight: 700;
                color: white;
                display: flex;
                font-size: 16px;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                background-color: #72bb8f;
                width: 70px;
                height: 30px;
                margin-right: 15px;
            }

            .product-status{
                font-weight: 700;
                color: white;
                display: flex;
                font-size: 14px;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                background-color: green;
                width: 70px;
                height: 30px;
            }
        }

        .part2_bottom{
            display: flex;
            align-items: center;
            justify-content: center;

            .nav-link{
                padding-right: 10px;
            }

            .part2-btn{
                outline: 0;
                border: 0;
                padding: 6px 0px;
                color: #28306A;
                width: 180px;
                font-family: inherit;
                margin-right: 5px;
                transition: all 0.3s ease;
                font-weight: 600;
                border-radius: 5px;
                cursor: pointer;
                background-color: #ffcd1d !important;
                border: 2px solid #ffcd1d !important;
            }

            .part2-btn:hover{
                background-color: #28306A !important;
                color: white;
                border-color: #28306A !important;
            }

            .circle-button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: 5px;
                width: 60px;
                padding: 6px 0px;
                height: 40px;
                border: 1px solid red;
                background-color: white;
                color: red;
                position: relative;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
              }
              
              .circle-button:hover {
                background-color: black;
                color: white;
                border-color: black;
              }
              
              .circle-button i {
                font-size: 20px;
              }

              .circle-button::before {
                content: "Bỏ thích";
                position: absolute;
                top: 6px;
                left: 75px;
                width: 90px;
                padding: 5px;
                background-color: rgba($color: #1a1717, $alpha: 0.8);
                color: white;
                font-size: 12px;
                border-radius: 5px;
                opacity: 0.8;
                visibility: hidden;
                // transition: all 0.3s ease-in-out;
              }
              
              .circle-button:hover::before {
                opacity: 1;
                visibility: visible;
              }
        }
    }
}
