.title-result-number {
    color: red;
    font-weight: bold;
}

.banner {
    border-radius: 25px;
    background-color: #EDE1AF;
    color: #07192E;
    font-weight: bold;
}

.title-service-list {
    color: #f4f5f9;
    background-color: #07192E;
    border-radius: 10px 10px 0px 0px;
}
.search-bar {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 12px;
}
.sort_price {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-color: #2992D0;
    color: #f4f5f9;
    border-color: #2992D0;
    font-size: 15px;
    padding-left: 10px;
}
.container__service{
    max-width: 1140px;
}

.service_ctn{
    .input-search-ctn{
        border-radius: 5px;
        width: 100%;
        position: relative;
    
        .input-select{
            display: flex;
            width: 100%;
            border-radius: 5px;
            margin-bottom: 3px;
        
            .input-select{
                flex: 7;
                border-radius: 5px !important;
                border: 0.25px solid black;
            }
        
            .select-search{
                flex: 1;
                width: 130px;
                outline: none;
                border: 1px solid #ced4da;
                padding-right: 10px;
                font-size: 15px;
                font-weight: 600;
                padding-left: 10px;
            }
        }
    
        .search-dropdown{
            position: absolute;
            display: block;
            background-color: white;
            border: 0.25px solid #ced4da;
            width: 96.5%;
            margin-left: 15px;
            z-index: 3;
    
            ul{
                display: block;
                padding-top: 5px;
    
                .search-dropdown-item{
                    display: block;
                    height: 35px;
                    width: 100%;
                    padding-left: 16px;
                    line-height: 35px;
    
                    &:hover{
                        opacity: 0.95;
                        background-color: #F6F1F1;
                        cursor: pointer;
                    }
    
                    .link-item-search{
                        font-size: 16px;
                        color: black;
                        display: block;
                        width: 100%;
                        height: 35px;
    
                        &:hover{
                            font-weight: 400;
                            color: black !important;
                        }
                    }
                }
            }
        }
    }
}


