.title-result-number {
    color: red;
    font-weight: bold;
}

.banner {
    border-radius: 25px;
    background-color: #f4f5f9;
    color: #07192E;
    font-weight: bold;
}

.title-service-list {
    color: #f4f5f9;
    background-color: #07192E;
    border-radius: 10px 10px 0px 0px;
}
.search-bar {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 12px;
}
.sort_price {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #2992d0;
    color: #f4f5f9;
    border-color: #2992d0;
    font-size: 15px;
}
.container__service{
    max-width: 1140px;
}